@import "tailwindcss";

/* Ultra sleek scrollbar */

.sleek-scroll {
    scrollbar-width: none; /* Firefox */
  }
  
  .sleek-scroll::-webkit-scrollbar {
    width: 0px;
  }
  
  .sleek-scroll:hover::-webkit-scrollbar {
    width: 6px;
  }
  
  .sleek-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .sleek-scroll::-webkit-scrollbar-thumb {
    background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.2),
      rgba(0,0,0,0.4)
    );
    border-radius: 9999px;
    transition: all 0.3s ease;
  }
  
  .sleek-scroll::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.6);
  }

  